.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background-color: #0b0c10;
    text-decoration: none;
}

.main-nav li {
    color: #45a29e;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    
} 

.main-nav li:hover {
    color: #66fcf1;
    text-decoration: underline;
   
}

#home {
    position: absolute;
    left: 0;
    top: 0;
}

a {
    text-decoration: none;
}
